<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h2 class="fw-bold">Distribución muestral de la diferencia de dos
            medias con varianzas poblacionales conocidas</h2>
        <hr>

        <p>
            Sean <ng-katex [equation]="x1bar"></ng-katex> y <ng-katex [equation]="x2bar"></ng-katex> las 
            medias de dos muestras aleatorias
            independientes de tamaños <ng-katex [equation]="n1"></ng-katex> y <ng-katex [equation]="n2"></ng-katex> 
            seleccionadas de dos poblaciones con medias
            <ng-katex [equation]="mu1"></ng-katex> y <ng-katex [equation]="mu2"></ng-katex> y varianzas 
            <ng-katex [equation]="sigma1"></ng-katex> y <ng-katex [equation]="sigma2"></ng-katex> respectivamente, 
            supuestas conocidas, entonces, 
            la variable aleatoria <ng-katex [equation]="x1bar"></ng-katex> - <ng-katex [equation]="x2bar"></ng-katex> 
            tiene las siguientes propiedades.
        </p>

        <ol type="a">
            <li><ng-katex [equation]="mux1bar"></ng-katex></li>
            <li><ng-katex [equation]="sigmax1bar"></ng-katex></li>
            <li>Para <ng-katex [equation]="n1"></ng-katex>, y <ng-katex [equation]="n2"></ng-katex> 
                suficientemente grandes , la variable aleatoria:
            </li>
        </ol>

        <section class="text-center">
            <ng-katex [equation]="z"></ng-katex> <br>
            tiene aproximadamente distribución normal <ng-katex [equation]="n01"></ng-katex>
        </section>

        <h3 class="fw-bold">NOTA.</h3>
        <p>
            La aproximación de <ng-katex [equation]="zmay"></ng-katex> a la normal es muy 
            buena si <ng-katex [equation]="n1"></ng-katex> <ng-katex [equation]="mayig"></ng-katex> 30 y <ng-katex [equation]="n2">   
            </ng-katex> <ng-katex [equation]="mayig"></ng-katex> 30 sin 
            importar si las poblaciones son discretas o continuas y sin importar sus formas.
            Pero, si las dos poblaciones son normales, entonces, la media <ng-katex [equation]="x1bar"></ng-katex>, es
            <ng-katex [equation]="nmu1"></ng-katex> y <ng-katex [equation]="x2bar"></ng-katex> es 
            <ng-katex [equation]="nmu2"></ng-katex> para <ng-katex [equation]="n1"></ng-katex> 
            <ng-katex [equation]="mayig"></ng-katex> 2 y <ng-katex [equation]="n2"></ng-katex> 
            <ng-katex [equation]="mayig"></ng-katex> 2. <br><br>

            Por la propiedad reproductiva de la normal <ng-katex [equation]="x1bar"></ng-katex> - 
            <ng-katex [equation]="x2bar"></ng-katex>  es normal con media = <ng-katex [equation]="mu1"></ng-katex> - 
            <ng-katex [equation]="mu2"></ng-katex> y varianza = <ng-katex [equation]="sigma1n"></ng-katex>. <br><br>
        </p>

        <section class="text-center">
            <ng-katex [equation]="z"></ng-katex> <br>
            es normal <ng-katex [equation]="n01"></ng-katex>  para cualquier valor de
            <ng-katex [equation]="n1"></ng-katex> <ng-katex [equation]="mayig"></ng-katex> 2 y 
            <ng-katex [equation]="n2"></ng-katex> <ng-katex [equation]="mayig"></ng-katex> 2.
        </section>

        <h2 class="fw-bold mt-4">Distribución m uestral de la diferencia de dos
            m edias con varianzas poblacionales desconocidas</h2>
        
        <p>
            Sea <ng-katex [equation]="x1bar"></ng-katex> la media de una muestra aleatoria de tamaño 
            <ng-katex [equation]="n1"></ng-katex> extraída de la <b>población normal</b> 
            <ng-katex [equation]="nmusigma1"></ng-katex>, y sea <ng-katex [equation]="x2bar"></ng-katex> 
            la media de otra muestra aleatoria de
            tamaño <ng-katex [equation]="n2"></ng-katex> extraída de la <b>población normal</b> <ng-katex [equation]="nmusigma1"></ng-katex>,
            <b>independiente</b> de la anterior.
        </p>

        <h3 class="fw-bold">A) Varianzas poblacionales iguales: <small class="fs-6"><ng-katex [equation]="sigmaigual"></ng-katex></small></h3>

        <p>
            En este caso, la variable aleatoria <ng-katex [equation]="x1bar"></ng-katex> - 
            <ng-katex [equation]="x2bar"></ng-katex> tiene distribución normal
        </p>

        <section class="text-center">
            <ng-katex [equation]="nmu12"></ng-katex> <br>
        </section>
        <p>
            y la variable aleatoria estándar:
        </p>
        <section class="text-center">
            <ng-katex [equation]="zx1x2bar"></ng-katex> <br>
        </section> <br>

        <p>
            tiene distribución normal <ng-katex [equation]="n01"></ng-katex>. Por otra parte,
        </p>

        <section class="text-center">
            <ng-katex [equation]="n1men1"></ng-katex>, &nbsp; y &nbsp;
            <ng-katex [equation]="n2men1"></ng-katex> <br><br>
            y <ng-katex [equation]="v"></ng-katex>
        </section> <br>

        <p>
            Por tanto, la variable aleatoria:
        </p>

        <section class="text-center">
            <ng-katex [equation]="tz"></ng-katex>, <br>
        </section> <br>

        <p>
            tiene distribución <em>T-student</em> con <ng-katex [equation]="n1"></ng-katex> + 
            <ng-katex [equation]="n2"></ng-katex> - 2 grados de libertad.  <br>

            Donde, <ng-katex [equation]="sc"></ng-katex> es <b>la varianza común</b> y tiene la espresión: 
        </p>

        <section class="text-center">
            <ng-katex [equation]="sc2"></ng-katex>
        </section>

        <h3 class="fw-bold mt-4">B) Varianzas poblacionales diferentes: <small class="fs-6"><ng-katex [equation]="sigmadif"></ng-katex></small></h3>
        <p>
            En este caso la variable aleatoria:
        </p>

        <div class="text-center">
            <!-- Atrás -->
            <button class="btn btn-warning mx-1 mt-3" routerLink="/inferencia-ma/dm-dos-proporciones">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Anterior
            </button>
        </div>
    </div>
</div>
