<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h4 class="fw-bold">Muestra aleatoria</h4>
        <p>
            En vez de examinar la población entera, lo cual puede resultar físicamente
            imposible o no práctica, puede examinarse una muestra de la población con el
            propósito de inferir los resultados encontrados.
            Una muestra es un subconjunto de la poblacion. <br>

            El proceso de seleccon de una muestra de n elementos de la población se
            llama muestreo. Las ventajas y las razones para el muestreo son diversas, las
            mismas que no explicaremos en este texto.<br>
            El proceso que consiste en inferir resultados a la población a partir de la muestra
            se denomina inferencia estadística. La confiabilidad de las conclusiones extraídas
            concernientes a una población dependen de si la muestra se ha escogido
            apropiadamente de manera que represente bien a la población.<br>

            Una técnica para obtener muestras representativas de la población es el muestreo
            aleatorio. Se llama muestreo aleatorio a todo proceso que asegure en cualquier
            momento del mismo igual probabilidad de ser incluidos en la muestra a todos los
            elementos que pertenezcan a la población en dicho momento.<br>

            A las muestras aleatorias se les denomina también muestras probabilísticas
            Las muestras aleatorias son de 4 tipos: Al azar simple, al azar sistemático,
            estratificado y por grupos (o conglomerados).
        </p>
        <h3 class="fw-bold">Tipos de muestra</h3>
        <h4 class="fw-bold">Muestra al azar simple</h4>
        <p>
            Es aquella en la que los elementos se escogen del total de la población en forma individual con una oportunidad 
            igual e independiente. Por lo general se utiliza una tabla de números aleatorios.
            Si la población es infinita el muestreo aleatorio ocurre cuando la extracción de los elementos de la muestra se 
            hace con o sin reemplazo. Si la población es finita de tamaño N, el muestreo aleatorio ocurre también si la 
            extracción es con o sin reemplazo. Con reemplazo, la probabilidad de cada elemento de ser extraído es 1/N. 
            Si es sin reemplazo, la probabilidad de cada elemento de ser elegido es 1/N es la primera extracción, 
            es de 1/(N-1) en la segunda extracción, es 1/(N-2) en la tercera extracción, etc.
            Por ejemplo, seleccionar una muestra al azar simple es similar a la que se realiza en la extracción 
            aleatoria de números en una lotería.

        </p>
        <h4 class="fw-bold">Muestra al azar sistemática</h4>
        <p>
            Una muestra aleatoria sistemática es aquella en que sus elementos se eligen de la población a intervalos uniformes a partir de un listado de la muestra y N el tamaño de la población.
            Por ejemplo, al elegir una muestra de 100 alumnos de EE.GG.CC que tiene 3000 alumnos, k=3000/300=30.El primero se elige en forma aleatoria de los 30 primeros de la lista y los demás 
            sistemáticamente cada 30 alumnos de la lista.

        </p>
        <h4 class="fw-bold">Muestreo aleatorio estratificado</h4>
        <p>
            Primero se clasifican a los elementos de la población en subgrupos separados de acuerdo con 
            una o más características importantes(estratos). Después se obtiene por separado una muestra 
            aleatoria simple o sistémica en cada estrato. El tamaño de cada submuestra debe ser proporcional 
            al tamaño del estrato para asegurar representatividad.
            Por ejemplo, para obtener una muestra aleatoria de 600 electores de una población de 600 000 electores 
            de los cuales 300 000 son de clase baja, 200 000 de clase media y 100 000 de clase alta. Se deben elegir al azar 300 de clase media y 100 de clase alta.

        </p>
        <h4 class="fw-bold">Muestreo aleatorio agrupado</h4>
        <p>
            Denominado también por conglomerados. Los elementos de la población se dividen en forma natural en subgrupos. Luego se eligen al azar los subgrupos que forman la muestra.
            Por ejemplo, al estudiar las pensiones que se pagan en los colegios particulares donde no es posible tener una lista de todas las pensiones, pero puede obtenerse una lista 
            de los colegios particulares (grupos). Entonces, con esta lista puede obtener una muestra aleatoria de colegios y así obtener las pensiones que se pagan en estos colegios.
            El muestreo aleatorio simple, es pues el proceso de selección de una muestra por el cual cada uno de los elementos de la población tienen una oportunidad igual e independiente
            de ser incluidos en la muestra. En el muestreo aleatorio simple cada variable aleatoria <ng-katex [equation]="Ec1"></ng-katex> cuyo valor es <ng-katex [equation]="Ec2" ></ng-katex>, 
            tiene la misma distribución de la población de la cual se obtiene. Por ejemplo, 
            supongamos que una población consiste de 8 fichas, dos con el número 2, cuatro con el número 5, y dos con el número 7. Si se extrae una ficha al azar, la ficha puede tomar cualquiera 
            de los tres valores: 2 con probabilidad 0.25, 5 con probabilidad 0.50, y 7 con probabilidad 0.25, que viene a ser la misma distribución de la población.
            Luego, diremos que los valores <ng-katex [equation]="Ec3"></ng-katex> tomados respectivamente por las variables aleatorias <ng-katex [equation]="Ec4"></ng-katex> constituyen una muestra
            aleatoria simple de tamaño <i>n</i> de una población <ng-katex [equation]="fx"></ng-katex> de la variable aleatoria <ng-katex [equation]="X"></ng-katex> si estas variables aleatorias están
            distribuidas en forma idéntica a la distribución de la población y son independientes. Llamaremos también muestra aleatoria simple a este conjunto de 
            variables aleatorias. Formalmente definimos una muestra aleatoria simple o brevemente muestra aleatoria de la forma siguiente:<br/>
            <b>Definición. (muestra aleatoria simple).</b> Dada una población <ng-katex [equation]="fx"></ng-katex> con media <ng-katex [equation]="mu"></ng-katex> y varianza <ng-katex [equation]="Var"></ng-katex> 
            se denomina muestra aleatoria de tamaño <ng-katex [equation]="n"></ng-katex> de esa población, a un conjunto de <ng-katex [equation]="n"></ng-katex> variables aleatorias <ng-katex [equation]="Ec4"></ng-katex> tales que:<br/>
            <br/>
            1) Son independientes <br/>
            2) Cada una de ellas está distribuida de forma idéntica a <ng-katex [equation]="fx"></ng-katex>.<br/>
            <b>La condición 1)</b> Implica que <b>distribución de la probabilidad conjunta</b> de la muestra aleatoria <ng-katex [equation]="Ec4"></ng-katex> es la expresión:<br/>
            <ng-katex [equation]="fx1"></ng-katex><br/>
            <b>La condición 2)</b> Significa que:<br/>
            &nbsp;a) Cada variable aleatoria <ng-katex [equation]="Ec1"></ng-katex> tiene la misma media y varianza de la distribución de<ng-katex [equation]="X"></ng-katex>, es decir:<br/>
            <ng-katex [equation]="media"></ng-katex>   y  <ng-katex [equation]="Varianza"></ng-katex> <br/>
            b) La dsitribucion de la probabilidad de cada variable aleatoria <ng-katex [equation]="Ec1"></ng-katex> es la misma distribución de la probabilidad de<ng-katex [equation]="X"></ng-katex>
            esto es <ng-katex [equation]="fxi"></ng-katex>
        </p>
        

        <div class="text-center">
            <!-- Atrás -->
            <button class="btn btn-warning mx-1" routerLink="/inferencia-ma/poblaciones-parametros">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Anterior
            </button>

            <!-- Siguiente -->
            <button class="btn btn-primary mx-1" routerLink="/inferencia-ma/ma-estadisticas">
                Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
            </button>
        </div>
    </div>
</div>
