<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h4 class="fw-bold">Muestra aleatoria</h4>
        <p>
            En vez de examinar la población entera, lo cual puede resultar físicamente
            imposible o no práctica, puede examinarse una muestra de la población con el
            propósito de inferir los resultados encontrados.
            Una muestra es un subconjunto de la poblacion. <br>

            El proceso de seleccon de una muestra de n elementos de la población se
            llama muestreo. Las ventajas y las razones para el muestreo son diversas, las
            mismas que no explicaremos en este texto.<br>
            El proceso que consiste en inferir resultados a la población a partir de la muestra
            se denomina inferencia estadística. La confiabilidad de las conclusiones extraídas
            concernientes a una población dependen de si la muestra se ha escogido
            apropiadamente de manera que represente bien a la población.<br>

            Una técnica para obtener muestras representativas de la población es el muestreo
            aleatorio. Se llama muestreo aleatorio a todo proceso que asegure en cualquier
            momento del mismo igual probabilidad de ser incluidos en la muestra a todos los
            elementos que pertenezcan a la población en dicho momento.<br>

            A las muestras aleatorias se les denomina también muestras probabilísticas
            Las muestras aleatorias son de 4 tipos: Al azar simple, al azar sistemático,
            estratificado y por grupos (o conglomerados).
        </p>
        <h3 class="fw-bold">Tipos de muestra</h3>
        <h4 class="fw-bold">Muestra al azar simple</h4>
        <h4 class="fw-bold">Muestra al azar sistemática</h4>
        <h4 class="fw-bold">Muestreo aleatorio estratificado</h4>
        <h4 class="fw-bold">Muestreo aleatorio agrupado</h4>

        <div class="text-center">
            <!-- Atrás -->
            <button class="btn btn-warning mx-1" routerLink="/inferencia-ma/poblaciones-parametros">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                Anterior
            </button>

            <!-- Siguiente -->
            <button class="btn btn-primary mx-1" routerLink="/inferencia-ma/ma-estadisticas">
                Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
            </button>
        </div>
    </div>
</div>
