
<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h2 class="fw-bold mt-1">Distribución T-Student</h2>
        <hr>
        
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam debitis dolorum incidunt distinctio dolores quos inventore tenetur aliquid quae, sint dolor? Quod libero accusantium facere cupiditate quae officia sint mollitia quia voluptates ratione vitae officiis quis adipisci, eveniet saepe architecto suscipit veritatis hic. Itaque suscipit incidunt nobis nisi nemo corrupti!
        </p>
    </div>
</div>
