.-menu{
    margin-top: 10vh;
}

.-content {
    margin-top: 12vh; 
}

@media screen and (max-width: 768px) {
    .-content {
        margin-top: 3vh; 
    }
}

  .inicial-card{
    background-color: rgb(210, 210, 210);
    border-color: rgb(210, 210, 210);
    margin-bottom: 2vh;
  }

  .sugerencia-card{
    background-color: #D6FFE6;
    border-color: #33D271;
    margin-top: 3vh;
  }

  .error-card{
    background-color: #ffdbd6;
    border-color: #d24b33;
    margin-top: 3vh;
  }

  .btn-buscar {
    background-color: #33D271;
    border-color: #33D271;
    border-radius: 5px;
  }

  .btn-buscar:hover {
    background-color: #2cb360;
    border-color: #2cb360;
  }

@media screen and (max-width: 768px) {
  .num-poblacion {
      margin-left: 30vw;
      
  }
}

.form-check-input {
  cursor: pointer;
}

.relleno-card {
  background: linear-gradient(195deg,#df50ff, #ff8c8c, #ad8cff, #8ce0ff, #97ff8c, #97ff8c);
  background-size: 500% 500%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  -o-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;

  border-color: #ffffff00;
  padding: 0vw 2vw 0vw 2vw;
}

@-webkit-keyframes AnimationName {
  0%{background-position:22% 0%}
  50%{background-position:79% 100%}
  100%{background-position:22% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:22% 0%}
  50%{background-position:79% 100%}
  100%{background-position:22% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:22% 0%}
  50%{background-position:79% 100%}
  100%{background-position:22% 0%}
}
@keyframes AnimationName {
  0%{background-position:22% 0%}
  50%{background-position:79% 100%}
  100%{background-position:22% 0%}
}

p{
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .relleno-card {
    background: linear-gradient(195deg, #df50ff, #ff8c8c, #f28cff, #8ce0ff, #97ff8c, #97ff8c);
    background-size: 500% 500%;
  
    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    -o-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;
  
    border-color: #ffffff00;
    margin: 0vw 0vw 0vw 0vw;
    padding: 0vw 2vw 0vw 2vw;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.187);
  border-radius: 5px;
}