
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow" style="background-color: rgba(255, 255, 255, 0.144); backdrop-filter: blur(10px);">
    <div class="container-fluid">
    <a class="navbar-brand fw-bold" style="padding: 0vw 0vw 0vw 1vw;"
            routerLink="/home">
        <img src="../../../assets/logo.png" style="width: 50px">
    </a>

    <a class="navbar-brand fw-bold" style="padding: 0vw 0vw 0vw 1vw;"
            href="https://www.unsch.edu.pe" target="_blank">
        <img src="../../../assets/logo_unsch.png" style="width: 80px">
    </a>
    <a class="navbar-brand fw-bold"
            href="https://www.facebook.com/groups/1425237611081130" target="_blank">
        <img src="../../../assets/logo_epis.png" style="width: 50px">
    </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="list-group navbar-nav ms-auto my-2 my-lg-0">

                <li class="list-group-item nav-item encabezado text-center fw-bold"
                *ngFor="let item of headerMenu"
                [routerLink]="[item.ruta]"
                routerLinkActive="active">
                {{ item.texto }}
                </li>
            </ul>
        </div>
    </div>
</nav>
