
<div class="row">

    <div class="col-12 col-md-3 mt-3">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../../../../assets/img-distribucion/normal.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/img-distribucion/t-student.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/img-distribucion/chi-cuad.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/img-distribucion/dist-f.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <div class="col-12 col-md-9">
        <div class="card mt-3 relleno-card">
            <div class="card-body">
                <h3 class="card-title text-center fw-bold">Información!!!</h3>
                <p class="fs-6 text-black fw-light">
                    <em>
                        Este trabajo se desarrolló para el curso de Inferencia Estadídistica (ES-244), con la finalidad de ayudar a los estudiantes que no tienen claro qué tipo de distribución utilizar en un ejercicio dado, el proyecto proporciona una interfaz intuitiva para la fácil utilización, asimismo, se incluyó una parte de teoría de inferencia estadídistica, un formulario y las tablas de probabilidad.
                    </em>
                </p>
            <h5 class="fw-bold">Instrucciones.</h5>
    
            <ol>
                <li>Obtenga todos los datos de su ejercicio.</li>
                <li>Escoja el tipo de distribución.</li>
                <li>Seleccione el número de población en la parte izquierda.</li>
                <li>Marque las casillas correspondientes de sus datos e ingrese los valores solicitados en los campos.</li>
                <li>Si obtiene un error, verifique sus datos y vuelva a ingresar.</li>
            </ol>
    
            </div>
        </div>
    </div>
</div>
