.-menu{
    margin-top: 10vh;
}

.-content {
    margin-top: 12vh; 
}

@media screen and (max-width: 768px) {
    .-content {
        margin-top: 3vh; 
    }
}

  .inicial-card{
    background-color: rgb(210, 210, 210);
    border-color: rgb(210, 210, 210);
    margin-bottom: 2vh;
  }

  p{
    text-align: justify;
  }