<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h4 class="fw-bold">Estadísticas</h4>

        <p>
            Definición. Se denomina estadística a cualquier función de las variables aleatorias
            que constituyen la muestra.
            Una estadística es una variable aleatoria <ng-katex [equation]="Y"></ng-katex>, cuyo valor es el número real  
             <ng-katex [equation]="y"></ng-katex> .El término estadística se usa para referirse tanto a la función de la muestra, como al valor de esta función.<br/>
            En general para cada parámetro poblacional hay una estadística correspondiente a calcularse a partir de la muestra. Algunas estadísticas importantes y sus
             valores calculados a partir de una muestra aleatoria son:<br/>
             <br/>
            a)La media muestral <ng-katex [equation]="medM"></ng-katex> con el valor:  <ng-katex [equation]="medm" ></ng-katex> <br/>
            <br/>
            b)La varianza muestral <ng-katex [equation]="varM"></ng-katex>, con valor:<ng-katex [equation]="varm"></ng-katex> <br/>
            c)La desviasión estándar muestral <ng-katex [equation]="desE"></ng-katex> <br/>
            d)La proporción muestral(porcentaje de éxito en la muestra) <ng-katex [equation]="P"></ng-katex> o <ng-katex [equation]="pb"></ng-katex>
             donde  <ng-katex [equation]="X"></ng-katex> <br/>(el parametro <ng-katex [equation]="p"></ng-katex> es el porcentaje de éxito en la población) Tambien, <br/>
             <ng-katex [equation]="Pb"></ng-katex> donde <ng-katex [equation]="X1"></ng-katex> <br/>
             <br/>
             El valor de <ng-katex [equation]="P1"></ng-katex> (o <ng-katex [equation]="P"></ng-katex>), calculada a partir de una muestra, se denota  
             <ng-katex [equation]="p1"></ng-katex> (o <ng-katex [equation]="p2"></ng-katex>).
        </p>

        <div class="text-center">
            <!-- Atrás -->
            <button class="btn btn-warning mx-1" routerLink="/inferencia-ma/tipos-de-muestra">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>

                Anterior
            </button>

            <!-- Siguiente -->
            <button class="btn btn-primary mx-1" routerLink="/inferencia-ma/dm-media">
                Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
