<div class="row">
    <div class="col-12 col-md-3 -menu">
       <app-side-menu-home></app-side-menu-home>
    </div>
   
    <div class="col-12 col-md-9 -content">
   
       <div class="card inicial-card">
           <div class="card-body text-center fw-bold">
             Datos conocidos de <em class="fw-normal">varianza</em>
           </div>
       </div>
   
       <div class="card shadow">
           <div class="card-body">
               Aquí van todos loss selectores :v
           </div>
           
            <button class="btn btn-success btn-buscar">
                Buscar
            </button>
       </div>
   
       <div class="card sugerencia-card">
           <div class="card-body">
               <p class="text-center fw-bold">Sugerencia:</p>
               Aquí irá la sugerencia <em>Se mostrará con condicionales...</em>
           </div>
       </div>
    </div>
   </div>
   