
<div class="row -content">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
     </div>

     <div class="col-12 col-md-9 -content">
        <h3>Title</h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis eveniet architecto? Libero distinctio commodi, animi labore eum inventore nostrum ea ipsa vel, enim consequatur. Provident quia sint voluptatem similique?
        Nostrum expedita sequi hic rem laudantium minima pariatur, tenetur blanditiis doloremque consequatur voluptates mollitia minus at assumenda! Doloremque magni tempore accusantium necessitatibus ut quidem eveniet ipsa, inventore nihil facilis adipisci!
        Hic tenetur explicabo ratione totam inventore maxime obcaecati suscipit dicta autem, iure animi ullam debitis, expedita voluptatum minima atque velit eaque voluptate ad! Corporis enim ullam blanditiis! Est, eum! In!
     </div>
</div>
