
<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        <h2 class="fw-bold mt-1">Distribución Gamma</h2>
        <hr>
        
        <p>
            <b>Definición.</b> Se dice que la variable aleatoria continua <ng-katex [equation]="x"></ng-katex> tiene <b>distribución gamma</b>, con parámetros <ng-katex [equation]="alpha"></ng-katex> y <ng-katex [equation]="beta"></ng-katex> y se representa por <ng-katex [equation]="dgamma"></ng-katex>, si su  función de densidad es:
        </p>
        <section class="text-center">
            <ng-katex [equation]="fundensidgamma"></ng-katex><br>
            <p>donde <ng-katex [equation]="alpha"></ng-katex> y <ng-katex [equation]="beta"></ng-katex> son constantes positivas.</p>
        </section>
        
        <h3 class="fw-bold">Teorema</h3>
        <p>Si <ng-katex [equation]="dgamma"></ng-katex>, entonces: </p>
        <p>a) Media: <ng-katex [equation]="medg"></ng-katex> <span class="px-2">y</span> b) Varianza: <ng-katex [equation]="varg"></ng-katex><br>
        </p>
        
        <div class="text-center">
            <!-- Atrás -->
            <button class="btn btn-warning mx-1" routerLink="/inferencia/vac-normal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                Anterior
            </button>
            <!-- Siguiente -->
            <button class="btn btn-primary mx-1" routerLink="/inferencia/vac-exponencial">
                Siguiente
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </button>
        </div>
    </div>
</div>

