<div class="row">
  <div class="col-12 col-md-3 -menu">
    <app-side-menu-inferencia></app-side-menu-inferencia>
  </div>

  <div class="col-12 col-md-9 -content">
    <h1 class="fw-bold"> Distribución muestral de la diferencia de dos proporciones</h1>
    Sean <ng-katex [equation]="X"></ng-katex> e <ng-katex [equation]="Y"></ng-katex> dos muestra independientes 
    de tamaño <ng-katex [equation]="n1"></ng-katex> y <ng-katex [equation]="n2"></ng-katex> seleccionadas respectivamente de dos
    poblaciones independientes de Bernoullí &nbsp;  <ng-katex [equation]="B1"></ng-katex> y &nbsp;  <ng-katex [equation]="B2"></ng-katex>, donde 
    <ng-katex [equation]="p1"></ng-katex> y <ng-katex [equation]="p1"></ng-katex> son las proporciones poblacionales de éxito respectivos.
    Sean las proporcionesmuestrales. <br/>
    <br/>
    <section class="text-center">
      <ng-katex [equation]="P1"></ng-katex>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;y &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<ng-katex [equation]="P2"></ng-katex>   
    </section>
    <br/>
    <br/>
    donde  <ng-katex [equation]="X1"></ng-katex> &nbsp; y &nbsp;<ng-katex [equation]="Y1"></ng-katex>
    <br/>
    <br/>
    Entonces, la variable aleatoria <ng-katex [equation]="Pp"></ng-katex> tiene una distribución de probabilidad cuyas propiedades
    son las siguientes: <br/>
    <br/>
    <br/>
    <section >
      a) <ng-katex [equation]="a"></ng-katex> 
    </section>
    <br/>
    <section >
      b) <ng-katex [equation]="b"></ng-katex> 
    </section>
    <br/>
    <br/>
    <section >
      C) <b>Para </b> <ng-katex [equation]="n1"></ng-katex> y <ng-katex [equation]="n2"></ng-katex>&nbsp;  <b>suficientes grandes</b>
      , la variable aleatoria estándar: <br/>
      <br/>
    </section>
    <section class="text-center">
      <ng-katex  [equation]="Z"></ng-katex>
    </section>
    <br/>
    <div>
      tiene distribución aproximadamente <ng-katex [equation]="N"></ng-katex> donde el erros estandar 
      <ng-katex [equation]="EE"></ng-katex> es dado por:<br/>
    </div>
    <br/>
    <div class="text-center">
      <ng-katex [equation]="FEE"></ng-katex>
    </div>

    <br/>
    <br/>
   
    
    











    <div class="text-center">
      <!-- Atrás -->
      <button class="btn btn-warning mx-1" title="Distribución de la diferencia de Medias" routerLink="/inferencia-ma/dm-dos-medias">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
        Anterior
      </button>

      <!-- Siguiente -->
      <button class="btn btn-primary mx-1" title="Distribución de la diferencia de Varianzas" routerLink="/inferencia-ma/dm-dos-varianzas">
        Siguiente
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
      </button>
    </div>
  </div>
</div>
