.-menu{
    margin-top: 10vh;
}

.-content {
    margin-top: 12vh; 
}

.inicial-card{
    background-color: rgb(210, 210, 210);
    border-color: rgb(210, 210, 210);
    margin-bottom: 2vh;
}

.formulas{
    background-color: rgb(205, 255, 214);
    border-color: rgb(105, 255, 132);
}