<div class="row">
  <div class="col-12 col-md-3 -menu">
    <app-side-menu-home></app-side-menu-home>

    <div class="text-center mt-3 text-black-50">
        Número de población
    </div>

    <div class="row num-poblacion">
        <div class="form-check col-12 col-sm-6">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                1 Población
            </label>
        </div>
    
        <div class="form-check col-12 col-sm-6">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">
                2 Poblaciones
            </label>
        </div>
    </div>
  </div>

  <div class="col-12 col-md-9 -content">
    <div class="card inicial-card">
      <div class="card-body text-center fw-bold">
        Datos conocidos de <em class="fw-normal">proporción</em>
      </div>
    </div>

    <div class="card shadow">
        <div class="card-body">

            <div class="row">
                <div class="form-check col-12 col-sm-6">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        <ng-katex [equation] ="n | uppercase"> </ng-katex> 
                        conocida
                    </label>
                </div>
    
            </div>

            <div class="row">
                <div class="mt-3 col-6">
                    <label class="col col-form-label">
                        Tamaño de la muestra <ng-katex [equation] ="n"> </ng-katex>
                    </label>
                    <div class="col">
                      <input type="number" class="form-control">
                    </div>
                </div>

                <div class="mt-3 col-6">
                    <label class="col col-form-label">
                        Valor de <ng-katex [equation] ="p"> </ng-katex>
                    </label>
                    <div class="col">
                      <input type="number" class="form-control">
                    </div>
                </div>
            </div>


        </div>

        <button class="btn btn-success btn-buscar">
            Buscar
        </button>
    </div>

    <div class="card sugerencia-card">
      <div class="card-body">
        <p class="text-center fw-bold">Sugerencia:</p>
        Aquí irá la sugerencia <em>Se mostrará con condicionales...</em>
      </div>
    </div>
  </div>
</div>
