<footer class="box">
  <div class="box__col1">
    <h1>LOGO</h1>
    <p>Estamos para servir a la sociedad a través de un entorno virtual que les posibilita compartir y adquirir conocimientos a las personas que desean desarrollar sus competencias personales y profesionales en los campos vinculados con la administración, la empresa y la economía.</p>
  </div>
  <div class="box__col1">
    <h2>MENU</h2>
    <ul>
      <li><a href="#">Publicar</a></li>
      <li><a href="#">Paute Aquí</a></li>
      <li><a href="#">Acerca de la pagina</a></li>
      <li><a href="#">Acerca de Gestiopolis</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Términos de uso</a></li>
      <li><a href="#">Política de privacidad</a></li>
    </ul>
  </div>

  <div class="box__col1">
    <h2>TEMAS</h2>
    <ul>
      <li><a href="#">Titulo 1</a></li>
      <li><a href="#">Titulo 1</a></li>
      <li><a href="#">Titulo 1</a></li>
      <li><a href="#">Titulo 1</a></li>
      <li><a href="#">Titulo 1</a></li>
    </ul>
  </div>
</footer>
