
<div class="row">
    <div class="col-12 col-md-3 -menu">
        <app-side-menu-inferencia></app-side-menu-inferencia>
    </div>

    <div class="col-12 col-md-9 -content">
        Contenido bernoulli
        <h1>Distribución de Bernoullí</h1>
        <p> 
            <b>Definición.</b>  Se denomina prueba o ensayo de Bernoullí a todo experimento aleatorio
            que consiste de sólo dos resultados posibles mutuamente excluyentes,
            generalmente llamados: <b>éxito(<em>E</em>)</b>  y <b>fracaso(<em>F</em>)</b>.            
            <br>
            Por ejemplo, son ensayos de Bernoullí, lanzar una moneda al aire con los resutltados:
            cara o sello. Elegir al azar un objeto fabricado, con los resultados: defectusoso
            o no defectuoso, etc..
            <br>
            El espacio muestral esociado al experimento aleatorio de Bernoullí se puede escribir
            como el conjunto: <ng-katex [equation] ="OhmegaF"> </ng-katex>
        </p>
        <p>
            <b>Definición.</b> La variable aleatoria <ng-katex [equation] ="x | uppercase"> </ng-katex> definida en <ng-katex [equation] ="Ohmega"> </ng-katex> de
             manera que atribuye a <em>E</em> el valor 1 y a <em>F</em> el valor 0, se denomina <b> variables aleatorias de Bernoullí.</b>
        </p>
        <p>
            <b>Definición.</b> si <ng-katex [equation] ="rhoF"> </ng-katex> es la problabilidad de éxito, donde <ng-katex [equation] ="formula"> </ng-katex>, y
            <ng-katex [equation] ="qF"></ng-katex> <ng-katex [equation] ="x | uppercase"></ng-katex> <ng-katex [equation] ="qF2"></ng-katex>, es 
            la problabilidad de fracaso, la <b>distribución de probabilidad de Bernoullí de parámetro p</b> ,
            es descrita por la tabla:
        </p>
        <br>
        <div class="text-center">
            <p>tabla</p>
        </div>
        <p>o por la ecuación:</p>
        <div class="text-center">
            <p><ng-katex [equation] ="formula2"></ng-katex><ng-katex [equation] ="x | uppercase"> </ng-katex><ng-katex [equation] ="formula21"> </ng-katex>, <ng-katex [equation] ="formula3"> </ng-katex>. </p>
        </div>
        <p>la <b>funcion de distribución acumulada</b>  de Bernoullí es:</p>
        <div class="text-center">
            <p><ng-katex [equation] ="formula4"></ng-katex></p>
        </div>
    </div>
</div>
