<div class="row">

  <!-- Botones de título -->
  <div class="opciones text-center">
    <form [formGroup]="formCantidad">
      <div class="row num-poblacion">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio"
                class="btn-check"
                autocomplete="off"
                value = "1"
                formControlName="numTitulo"
                id="onePob">
          <label class="btn btn-outline-success"
                for="onePob">Distribuciones de probabilidad</label>

          <input type="radio"
                class="btn-check"
                autocomplete="off"
                value = "2"
                formControlName="numTitulo"
                id="twoPob">
          <label class="btn btn-outline-primary" for="twoPob">Prueba de Hipótesis</label>

        </div>
      </div>

    </form>
  </div>

  <!-- DISTRIBUCIONES DE PROBABILIDAD -->
  <div class=" -content" *ngIf="formCantidad.value.numTitulo == 1">
    <div class="card inicial-card">
      <div class="card-body text-center fw-bold">
        Fórmulas de <em class="fw-normal">ditribuciones de probabilidad</em>
      </div>
    </div>

    <div class="card formulas">
      <div class="card-body">

        <div class="dis-probabilidad">
          <table>

            <colgroup>
              <col class="color">
            </colgroup>

            <thead>
              <tr>
                <td colspan="5">DISTRIBUCIONES DE PROBABILIDAD</td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="nigga">Bernoulli</td>
                <td><ng-katex [equation]="dis1"></ng-katex></td>
                <td><ng-katex [equation]="p1"></ng-katex></td>
                <td><ng-katex [equation]="media1"></ng-katex></td>
                <td><ng-katex [equation]="varianza1"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Binomial</td>
                <td><ng-katex [equation]="dis2"></ng-katex></td>
                <td><ng-katex [equation]="p2"></ng-katex></td>
                <td><ng-katex [equation]="media2"></ng-katex></td>
                <td><ng-katex [equation]="varianza2"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Hipergeométrica</td>
                <td><ng-katex [equation]="dis3"></ng-katex></td>
                <td><ng-katex [equation]="p3"></ng-katex></td>
                <td><ng-katex [equation]="media3"></ng-katex></td>
                <td><ng-katex [equation]="varianza3"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Poisson</td>
                <td><ng-katex [equation]="dis4"></ng-katex></td>
                <td><ng-katex [equation]="p4"></ng-katex></td>
                <td><ng-katex [equation]="media4"></ng-katex></td>
                <td><ng-katex [equation]="varianza4"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Geométrica</td>
                <td><ng-katex [equation]="dis5"></ng-katex></td>
                <td><ng-katex [equation]="p5"></ng-katex></td>
                <td><ng-katex [equation]="media5"></ng-katex></td>
                <td><ng-katex [equation]="varianza5"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Pascal</td>
                <td><ng-katex [equation]="dis6"></ng-katex></td>
                <td><ng-katex [equation]="p6"></ng-katex></td>
                <td><ng-katex [equation]="media6"></ng-katex></td>
                <td><ng-katex [equation]="varianza6"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Normal</td>
                <td><ng-katex [equation]="dis7"></ng-katex></td>
                <td><ng-katex [equation]="p7"></ng-katex></td>
                <td><ng-katex [equation]="media7"></ng-katex></td>
                <td><ng-katex [equation]="varianza7"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Uniforme</td>
                <td><ng-katex [equation]="dis8"></ng-katex></td>
                <td><ng-katex [equation]="p8"></ng-katex></td>
                <td><ng-katex [equation]="media8"></ng-katex></td>
                <td><ng-katex [equation]="varianza8"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Gamma</td>
                <td><ng-katex [equation]="dis9"></ng-katex></td>
                <td>
                  <p><ng-katex [equation]="p9"></ng-katex>, cuando <ng-katex [equation]="p91"></ng-katex></p>
                  <p class="sin-esp"><ng-katex [equation]="p92"></ng-katex></p>
                </td>
                <td><ng-katex [equation]="media9"></ng-katex></td>
                <td><ng-katex [equation]="varianza9"></ng-katex></td>
              </tr>

              <tr>
                <td class="nigga">Exponencial</td>
                <td><ng-katex [equation]="dis10"></ng-katex></td>
                <td>
                  <p class="sin-esp"><ng-katex [equation]="p10"></ng-katex>, donde <ng-katex [equation]="p101"></ng-katex></p>
                  <p class="sin-esp">Función acumulada: <ng-katex [equation]="p102"></ng-katex></p>
                </td>
                <td><ng-katex [equation]="media10"></ng-katex></td>
                <td><ng-katex [equation]="varianza10"></ng-katex></td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
  <!-- FIN - DISTRIBUCIONES DE PROBABILIDAD -->


  <!-- Prueba de hipótesis -->
  <div class=" -content" *ngIf="formCantidad.value.numTitulo == 2">
    <div class="card inicial-card">
      <div class="card-body text-center fw-bold">
        Fórmulas de <em class="fw-normal">prueba de hipótesis</em>
      </div>
    </div>

    <div class="card formulas-hipo">
      <div class="card-body">

        Aquí las otras formulas :V

      </div>
    </div>
  </div>

</div>
